@import "mixin";
@import "var";

.formStyle {
  @include flexprob;
  height: 100vh;
  background-color:$bg-color;
  
.header {
  font-weight: bold;
  padding: 5;
  color: $btn-color;
}
  .paperStyle {
    height: auto;
    width: 300px;
    @include flexprob;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $color;
    margin: 10px 0;
  }
  .btnstyle {
    margin: 4px 0;
    background-color: $btn-color;
    color:$color;
  }
}
