.btnstyle {
  margin: 4px 0;
}
.header {
  font-weight: bold;
  color: red;
  padding: 5;
}
.paperStyle {
  height: auto;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
}
